<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" ><%= link_to 'attendance', user_attendance_path(:id)%></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><%= link_to 'daily_status',daily_statuses_path %></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to "Edit", edit_user_path %></a></li>
            <li><a class="dropdown-item" href="#"><%= link_to "Leave" , new_leafe_path %></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h2 value="value" selected, style="color:blue">Profile</h2>
<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight">Home /</div>
  <div class="p-2 bd-highlight">Employee /</div>
  <div class="p-2 bd-highlight">Profile</div>
</div>

<div class="card" style="width: 20rem; height: 10rem;">
<div class="card-body">
  <h5 style="margin-left: 4rem;"><%= current_user.name %></h5>
  <p style="margin-left: 6rem;">Trainee</p>
</div>
</div>

<div class="card" style="width: 50rem; left: 25rem; ">
<div class="card-body" >
<h1>User Details </h1><hr/>
<p>
<% if current_user.image.attached? %>
 <%= image_tag current_user.image, style: "width: 100px; height:100px; display: block margin: right;" %>
<% end %>
</p>

<div class="d-flex flex-row">
<div class=" bd-left" value="value" selected, style="color:blue">Name: </div>
<%= current_user.name %>
</div>

<div class="d-flex flex-row margin: left;">
<div class=" bd-left" value="value" selected, style="color:blue">Father Name: </div>
<%= current_user.father_name %>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">Mother Name: </div>
<%= current_user.mother_name %>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">Company Name: </div>
<%= current_user.company_name %>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">designation: </div>
<%= current_user.designation%>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">Country: </div>
<%= current_user.country %>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">Address: </div>
<%= current_user.address %>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">Phone No: </div>
<%= current_user.phone_no %>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">Pancard: </div>
<%= current_user.pan_card%>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">Adharcard: </div>
<%= current_user.adhar_card%>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">Bank Name: </div>
<%= current_user.bank_name %>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">Account No: </div>
<%= current_user.account_no  %>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">Email: </div>
<%= current_user.email %>
</div>

<div class="d-flex flex-row ">
<div class=" bd-left" value="value" selected, style="color:blue">Role: </div>
<%= current_user.role_id %>
</div>
</div>
</div>


