<%if current_user.role.role_type != 'HR' %>
<div class="card" style="width: 70rem;">
  <div class="card-body">
	<h1>Leaves</h1>
		<div style="margin-left: 55rem;"><%= button_to "Apply For Leave ", new_leafe_path(user_id: current_user.id),method: :get %></div><br>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Leave Type</th>
		      <th scope="col">From Date</th>
		      <th scope="col">Till Date</th>
		      <th scope="col">Total Days</th>
		      <th scope="col">Reason</th>
		      <th scope="col">Leave Status</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @leaves.each do |leave| %>
		    <tr>
		      <td><%= leave.leave_type %></td>
		      <td><%= leave.from_date %></td>
		      <td><%= leave.till_date %></td>
		      <td><%= leave.total_days %></td>
		      <td><%= leave.reason %></td>
		     	<td><%= leave.leave_status %></td>  

		      <td><%= button_to 'Cancel', leafe_path(leave, leave_status: 'cancel'), method: :put %></td> 

		    </tr>
		  </tbody>
		  <% end %>
		</table>
  	</div>
</div>
<% end %>
