<br><br>
<div style= "margin-left: 3rem;"><b>
<% unless Attendance.last.checkout_time.nil?  %>
  <%= link_to "checkin_time", user_attendances_path(user_id: current_user.id), data: { turbo_method: :post } %>
<% else %>
  <%= link_to "checkout_time", user_attendance_path(user_id: current_user.id), data: { turbo_method: :put } %>
<% end %></div>
<div>  
  
<div style= "margin-left: 70rem;"><%= link_to 'back',user_path %></div>

<h2 style=" margin-left: 30rem; color:black" >Attendances List</h2><hr/>

<%= paginate @attendances %>
<p><%= render  @attendances %></p>
</div>


