<%= form_with model: @daily_status do |form| %>
   <div>
     <%= form.label :daily_status %><br>
    <%= form.text_field :daily_status %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
<b>
<%= link_to 'back',current_user %>